{{ with .Resources.GetMatch "rates.json" }}
{{ $rateinfo := .Content | transform.Unmarshal }}

{{/* if isset .Params "rateinfo" -}}
{{- $rateinfo := .Params.rateinfo -*/}}


<h3>Price</h3>


{{- range $rate := $rateinfo.rates -}}

<div class="pl-3 mb-3">
    <div class="font-weight-bold">{{$rate.roomType}}</div>
    <div class="pl-3">
    {{ range $rateOption := $rate.rateOptions }}
        <div>{{$rateOption.name}}: {{ $rateOption.rate | lang.FormatAccounting 2 "USD" }}</div>
        
    {{ end }}
    </div>
</div>

{{- end -}}

<div class="pl-3">

    <div class="font-weight-bold">Deposit & Payments</div>
    <div>
        <ul>
            <li>{{ $rateinfo.deposit | lang.FormatAccounting 2 "USD" }}/pp due upon signup</li>

            {{ range $payment := $rateinfo.paymentdates }}
            
                <li>{{$payment.date}} {{$payment.note}}</li>
            
            {{ end }}

        </ul>
    </div>

    <div class="font-weight-bold">Additional details:</div>
    <ul>
        {{ range $detail := $rateinfo.details }}
        <li>{{$detail}}</li>
        {{ end }}
    </ul>
</div>

{{- end}}