<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<link rel="icon" href="/favicon.ico">

{{ template "_internal/schema.html" . }}
{{ template "_internal/opengraph.html" . }}
{{ template "_internal/twitter_cards.html" . }}

{{ with .OutputFormats.Get "RSS" }}<link rel="alternate" href="{{ .RelPermalink }}" type="application/rss+xml" title="{{ $.Site.Title }}"/>{{ end }}

{{ $cssbootstrap := resources.Get "/css/bootstrap.min.css" }}
{{ $cssfontawesome := resources.Get "/css/fontawesome.min.css" }}
{{ $cssfontawesomebrands := resources.Get "/css/brands.min.css" }}
{{ $cssfontawesomesolid := resources.Get "/css/solid.min.css" }}
{{ $cssmain := resources.Get "/css/main.css" }}
{{ $allcss := slice $cssbootstrap $cssfontawesome $cssfontawesomebrands $cssfontawesomesolid $cssmain | resources.Concat "/css/vendor.css" | minify | fingerprint }}
<link rel="stylesheet" href="{{ $allcss.RelPermalink }}" integrity="{{ $allcss.Data.Integrity }}">

<link rel="stylesheet" href="/css/site.css" >