<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">

        {{- range .Site.Menus.main -}}
        <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ .URL }}">{{ .Name }}</a>
        </li>
        {{- end -}}

        {{- if isset .Params "pagenav" -}}
            {{- range .Params.pagenav -}}
            <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{{ .url }}">{{ .name }}</a>
            </li>
            {{- end -}}
        {{- end -}}

        {{- if isset .Site.Params "contact" -}}
            {{- range .Site.Params.contact -}}
            <li class="nav-item mx-0 mx-lg-1">
                <a class="nav-link py-3 px-0 px-lg-3 rounded" href="{{ .URL }}"><i class="mdi mdi-{{ .Icon }}"></i> {{ .Name }}</a>
            </li>
            {{- end -}}
        {{- end -}}
    </ul>
</div>