{{ define "main" }}

{{ if .Site.Params.logo }}
    <img src="{{ .Site.Params.logo }}" alt="{{ .Site.Title }}" class="img-fluid mx-auto d-block mt-3 mb-3" style="max-width: 50%;">
{{ else }}
    <h1>{{ .Site.Title }}</h1>
{{ end }}

{{ if .Site.Params.welcomeText }}
<p class="welcomeText">{{ .Site.Params.welcomeText }}</p>
{{ end }}


{{ if .Site.Data.contactLinks }}
<div class="contact">
{{ range .Site.Data.contactLinks }}
    <h5>{{ .group }}</h5>
    <div id="iconList" class="card-columns mt-3">
        {{ range .items }}
        <div id="iconListEntry" class="card">
            <div class="card-body cursorPointer" onclick="location.href = '{{ .url }}'">
                <p class="card-text"><a href="{{ .url }}" target="_self" class="iconLink"><i class="fa-5x {{ .icon }}"></i></a></p>
                <p class="card-text"><a href="{{ .url }}" target="_self" class="iconLink">{{ .title | safeHTML }}</a></p>
            </div>
        </div>
        {{ end }}
    </div>
{{ end }}
</div>
{{ end }}

{{ if .Site.Data.promos }}
    {{ range .Site.Data.promos }}
        <h5>{{.group}}</h5>
        {{ range .items }}
            {{ if .activated }}
            <div id="iconList" class="mt-3">
                <div id="iconListEntry" class="card">
                    <div class="card-body cursorPointer" onclick="location.href = '{{ .url }}'">
                        <!-- <p class="card-text"><a href="{{ .url }}" target="_self" class="iconLink"><i class="fa-5x {{ .icon }}"></i></a></p> -->
                        {{ if .image }}
                            <img src="{{ .image }}" alt="{{ .name }}" class="img-fluid mx-auto d-block">
                        {{ end }}
                        <p class="card-text"><a href="{{ .url }}" target="_self" class="iconLink">{{ .name | safeHTML }}</a></p>
                    </div>
                </div>
            </div>
            {{ end }}
        {{ end }}
        {{ if .moreUrl }}
        <div class="text-center mt-3">
            <a href="{{ .moreUrl }}" class="btn btn-primary">{{ .moreTitle | default "More" }}</a>
        </div>
        {{ end }}
    {{ end }}
{{ end }}

{{ if .Site.Params.searchEngines }}
    {{ range .Site.Params.searchEngines }}
        {{ if .activated }}
            <form id="search-form-{{ .name }}" class="mb-3" action="{{ .url }}" method="get">
                <input id="search-bar-{{ .name }}" class="form-control" type="text" autofocus type="text" placeholder="Search {{ .name }}" name="{{ cond (isset . "searchkey") .searchkey "q" }}" alt="Search {{ .name }}" onkeydown="if(event.keyCode === 13) { this.form.submit(); return false; }">
            </form>
        {{ end }}
    {{ end }}
{{ end }}

{{ if .Site.Params.startPageColumns }}
    <div id="groupList" class="card-deck mt-3">
        {{ range .Site.Data.links }}
            <div id="groupListEntry" class="card">
                <div class="card-body">
                    <h5 class="card-title groupTitle">{{ .group }}</h5>                        
                    <ul class="list-group list-group-flush groupListList">
                        {{ range .items }}
                            <li class="list-group-item groupListListItem"><a href="{{ .url }}" target="_self" class="groupLink"><i class="{{ .icon }}"></i>&nbsp;<span class="groupText">{{ .title | safeHTML }}</span></a></li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        {{ end }}
    </div>
{{ else }}
    {{ range .Site.Data.links }}
        <h5>{{ .group }}</h5>
        <div id="iconList" class="card-columns mt-3">
            {{ range .items }}
            <div id="iconListEntry" class="card">
                <div class="card-body cursorPointer" onclick="location.href = '{{ .url }}'">
                    <p class="card-text"><a href="{{ .url }}" target="_self" class="iconLink"><i class="fa-5x {{ .icon }}"></i></a></p>
                    <p class="card-text"><a href="{{ .url }}" target="_self" class="iconLink">{{ .title | safeHTML }}</a></p>
                </div>
            </div>
            {{ end }}
        </div>
    {{ end }}
{{ end }}

{{ end }}
