{{ partial "header.html" . }}

<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Image-->
        {{if isset .Params "image" -}}
        <img class="masthead-avatar mb-5" src="{{ .Site.BaseURL }}/{{ .Params.image }}" />
        {{- end }}
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">{{ .Title }}</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="mdi mdi-fish"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light mb-0">{{ .Description }}</p>
    </div>
</header>

<!-- Intro Section-->
<section class="page-section" id="intro">
    <div class="container">
        <div class="row justify-content-sm-center text-center">            
            <div class="col-lg-8 ">{{ .Content }}</div>
        </div>
    </div>
</section>


{{- $teamIndex := .Site.GetPage "/team" -}}
{{- $teamDividerIcon := $teamIndex.Params.dividericon -}}

{{- $classIndex := .Site.GetPage "/classes" -}}
{{- $classDividerIcon := $classIndex.Params.dividericon -}}

{{- $serviceIndex := .Site.GetPage "/services" -}}
{{- $serviceDividerIcon := $serviceIndex.Params.dividericon -}}

<!-- 
{{ with .Site.GetPage "/home" }}
{{ range .Resources.ByType "page" }}

<div>{{.Title}}</div>

{{ end }}
{{ end }}
-->

{{- with $classIndex -}}

<!-- classes Section-->
<section class="page-section portfolio bg-primary text-white" id="classes">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white mb-0">{{ .Title }}</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="mdi mdi-{{ .Params.dividericon }}"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-6 text-center">
                {{ .Content }}
            </div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row my-sm-3">

            {{ range sort .Pages ".Params.order" }}

            {{ $modalName := printf "Class%s" .File.BaseFileName }}

            <!-- Portfolio Item 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto h-100 w-100 rounded shadow" data-toggle="modal" data-target="#{{ $modalName }}Modal">
                    
                    <!-- <div class="image">
                        <img class="img img-responsive full-width" src="{{ .Site.BaseURL }}/{{ .Params.image }}" alt="{{.Title}}" />
                    </div> -->
                    <img class="img img-fluid thumb-post w-100 h-100 " src="{{ .Site.BaseURL }}/{{ .Params.image }}" alt="{{.Title}}" />

                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white">
                            {{.Title}}
                        </div>
                    </div>
                    <!-- <div class="text-center">
                        {{.Title}}
                    </div> -->
                </div>
            </div>

            {{ end }}

        </div>
    </div>
</section>

{{- end -}}


{{- with $serviceIndex -}}


<!-- service Section-->
<section class="page-section text-secondary mb-0" id="services">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary">{{ .Title }}</h2>
        <!-- Icon Divider-->
        <div class="divider-custom ">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="mdi mdi-{{ $serviceDividerIcon }}"></i></div>
            <div class="divider-custom-line"></div>
        </div>
    </div>

    {{- if isset .Params "homepagecontent" }}
    {{ if .Params.homepagecontent }}
    <div class="row justify-content-sm-center">
        <div class="col-lg-6 col-md-8 text-center my-sm-1 mx-sm-3 ">

            {{ .Content }}

        </div>
    </div>
    {{ end }}
    {{ end }}

    <!-- About Section Content-->
        <div class="row justify-content-sm-center">

        {{ range sort .Pages ".Params.Order" }}

        <div class="col-lg-3 mx-lg-1 col-md-5 mx-sm-3 text-center ">
            {{- if isset .Params "Image" -}}
                <img class="img-fluid rounded shadow" style="width: 10rem;" src="{{ .Params.Image }}"></img>
            {{- end -}}
            <h4>{{ .Title }}</h4>
            <p class="lead">{{ .Description }}</p>
            <p>{{ .Params.teaser }}</p>

    {{- if isset .Params "moreinfo" }}
    {{- if .Params.moreinfo }}

    <div class="text-center mt-4">
        <a class="btn btn-xl btn-outline-dark" href="{{ .URL }}">
            <i class="mdi mdi-download mr-2"></i>
            More
        </a>
    </div>

{{ end }}
{{ end }}

        </div>

        {{end}}
    </div>


</section>


{{- end -}}


{{- with $teamIndex -}}

<!-- Team Section-->
<section class="page-section mb-0 bg-primary text-white" id="team">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-white">Our Team</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="mdi mdi-{{ $teamDividerIcon }}"></i></div>
            <div class="divider-custom-line"></div>
        </div>
    </div>

    <!-- About Section Content-->
        <div class="row justify-content-sm-center">

        {{ range sort .Pages ".Params.Order" }}

        {{ $modalName := printf "Team%s" .File.BaseFileName }}

        <div class="col-lg-3 mx-lg-1 col-md-5 mx-sm-3 text-center ">
            <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#{{ $modalName }}Modal">
                <img class="img-fluid rounded shadow" style="width: 10rem;" src="{{ .Params.Image }}"></img>
            <p class="lead">{{ .Title }}</p>
        </div>
    </div>

        {{end}}
    </div>


    <div class="row justify-content-sm-center">
        
    {{- if isset .Params "homepagemoreinfo" }}
    {{- if .Params.homepagemoreinfo }}

    <div class="text-center mt-4">
        <a class="btn btn-xl btn-outline-dark" href="{{ .URL }}">
            <i class="mdi mdi-download mr-2"></i>
            {{ .Params.homepagemoreinfo }}
        </a>
    </div>
{{ else }}

<div class="col-lg-6 col-md-8 text-center my-sm-1 mx-sm-3 ">

    {{ .Content }}

</div>

{{ end }}
{{ end }}
    </div>
</section>

{{- end -}}



{{- range $classIndex.Pages }}

{{ $modalName := printf "Class%s" .File.BaseFileName }}

{{ partial "homepagemodal" (dict "context" . "modalName" $modalName "dividerIcon" $classDividerIcon)}}

{{end -}}


{{ range $teamIndex.Pages }}

{{ $modalName := printf "Team%s" .File.BaseFileName }}

{{ partial "homepageteammodal" (dict "context" . "modalName" $modalName "dividerIcon" $teamDividerIcon)}}

{{end}}


{{ partial "footer.html" . }}
