{{ partial "header.html" . }}

{{ partial "title.html" . }}

<!-- Intro Section-->
<section class="page-section " id="intro">
    <div class="container">
        <div class="row justify-content-sm-center text-center">            
            <div class="col-lg-8 ">{{ .Content }}</div>
        </div>
    </div>
</section>

<section class="page-list-section" id="trips">
    <div class="container">

        <h1 class=" text-primary text-uppercase mb-0 text-center" id="portfolioModal1Label">Upcoming Group Trips</h1>

{{ range .Pages.ByParam "tripStartDate"  }}

        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="mdi mdi-{{ .Parent.Params.dividerIcon }}"></i></div>
            <div class="divider-custom-line"></div>
        </div>

        <div class="row justify-content-xs-center text-center text-md-left">
            <!-- <div class="col-lg-2 col-0" ></div>    -->
            <div class="col-lg-3 col-md-4">
                <img class="img-fluid rounded shadow float-md-left mx-5" style="width: 10rem;" src="{{ .Permalink }}/{{ .Params.image }}"></img>
            </div>

            <div class="col-lg-9 col-md-8 my-sm-3 my-md-0">
                <h3 class=" text-primary text-uppercase mb-0 " id="portfolioModal1Label"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                <h5 class=" text-secondary text-uppercase mb-0 " id="portfolioModal1Label">{{ dateFormat "Jan 2, 2006" .Params.tripStartDate }} - {{ dateFormat "Jan 2, 2006" .Params.tripEndDate }}</h5>
                <h6 class=" text-secondary text-uppercase mb-0" id="portfolioModal1Label">{{ .Description }}</h6>

                <p class="my-3">{{ (.Resources.GetMatch "teaser.md").Content }}</p>
            </div>
        </div>
{{ end }}

</div>

</section>


{{ partial "footer.html" . }}
