{{ partial "header.html" . }}

<header class="masthead bg-primary text-white text-center row pb-5">
    <div class="container d-flex align-items-center flex-column">
        
        {{if not (isset .Params "noheaderimage") -}}
            {{if isset .Params "image" -}}
                <img class="masthead-avatar mb-5" src="{{ .Site.BaseURL }}/{{ .Params.image }}" />
            {{- else -}}
                <img class="masthead-avatar mb-5" src="{{ .Site.BaseURL }}/{{ .Site.Params.logo }}" />
            {{- end }}
        {{- end }}

        <h1 class="masthead-heading text-uppercase mb-0">{{ .Title }}</h1>

        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="mdi mdi-{{if isset .Params "dividericon" -}}{{ .Params.dividericon }}{{- else -}}fish{{- end }}"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <p class="masthead-subheading font-weight-light mb-0">{{ .Description }}</p>
        <p class="masthead-subheading font-weight-light mb-0">{{ dateFormat "Jan 2, 2006" .Params.tripStartDate }} - {{ dateFormat "Jan 2, 2006" .Params.tripEndDate }}</p>
    </div>
</header>

<!-- Intro Section-->
<section class="page-section pb-5" id="intro">
    <div class="container">
        <div class="row justify-content-sm">            
            {{ $hasContentSidebar := isset .Params "sidebarimages" }}
            <div class="row justify-content-sm">            
                <div class=" {{ if $hasContentSidebar }} col-lg-8 {{ else }} col-lg-12 {{end}}">{{.Content}}</div>
                                
            {{ if $hasContentSidebar }}

            {{ partial "trips/sidebar-images.html" (dict "context" . "sidebarImages" .Params.sidebarImages) }}

            {{ end }} 

            </div>

        </div>
    </div>
</section>

{{ with .Resources.GetMatch "resortinfo.md" }}

<section class="page-section row bg-primary text-white" id="resort">
    <div class="container">
        
        <div class="row">
            <div class="divider-custom divider-light">
                <div class="divider-custom-line" style="max-width: unset;"></div>
                <h2 class="text-nowrap">About the Resort</h2>
                <div class="divider-custom-line" style="max-width: unset;"></div>
            </div>
        </div>

        {{ $hasContentSidebar := isset .Params "sidebarimages" }}

        <div class="row justify-content-sm"> 

            {{ if $hasContentSidebar }}

            {{ partial "trips/sidebar-images.html" (dict "context" . "sidebarImages" .Params.sidebarImages) }}

            {{ end }} 

            <div class=" {{ if $hasContentSidebar }} col-lg-8 {{ else }} col-lg-12 {{end}}">{{.Content}}</div>            

        </div>
    </div>
</section>

{{ end }}

<section class="page-section row mb-0 pb-4" id="tripdetails">
    <div class="container">

        <div class="row">
            <div class="divider-custom divider-dark">
                <div class="divider-custom-line" style="max-width: unset;"></div>
                <h2 class="text-nowrap">Package Details</h2>
                <div class="divider-custom-line" style="max-width: unset;"></div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6 col-sm-12" >

                {{ partial "trips/rates.html" . }}

            </div>

            <div class="col-md-6 col-sm-12" >

                {{ with .Resources.GetMatch "inclusions.json" }}
                {{ $inclusions := .Content | transform.Unmarshal }}


                    <h3>Included</h3>

                    {{ partial "trips/details-list.html" (dict "context" . "details" $inclusions) }}

                {{ end }}

                
                {{ with .Resources.GetMatch "exclusions.json" }}
                {{ $exclusions := .Content | transform.Unmarshal }}

                    <h3>Excluded</h3>

                    {{ partial "trips/details-list.html" (dict "context" . "details" $exclusions) }}

                {{ end }}

            </div>

        </div>
    </div>
</section>

{{ with .Resources.GetMatch "beforeyougo.md" }}

<section class="page-section row pt-0" id="beforeyougo">
    <div class="container">
        
        <div class="row">
            <div class="divider-custom divider-dark">
                <div class="divider-custom-line" style="max-width: unset;"></div>
                <h2 class="text-nowrap">Know Before You Go</h2>
                <div class="divider-custom-line" style="max-width: unset;"></div>
            </div>
        </div>

        <div class="row justify-content-sm">            
            <div class="col-lg-12 ">{{.Content}}</div>
        </div>
    </div>
</section>

{{ end }}


                
{{ with .Resources.GetMatch "recommendations.json" }}
{{ $recommendations := .Content | transform.Unmarshal }}

<section class="page-section row mb-0 bg-primary text-white" id="recomendations">
    <div class="container">
        
        <div class="row">
            <div class="divider-custom divider-light">
                <div class="divider-custom-line" style="max-width: unset;"></div>
                <h2 class="text-nowrap">Trip Recomendations</h2>
                <div class="divider-custom-line" style="max-width: unset;"></div>
            </div>
        </div>

        <div class="row">

            <div class="col-md-6 col-sm-12" >

                {{if $recommendations.gear -}}

                    {{- $gear := $recommendations.gear -}}

                    <h3>Gear</h3>

                    {{ partial "trips/details-list.html" (dict "context" . "details" $gear) }}

                {{ end }}

            </div>

            <div class="col-md-6 col-sm-12" >
                
                {{if $recommendations.courses -}}

                    {{- $courses := $recommendations.courses -}}

                    <h3>Courses</h3>

                    {{ partial "trips/details-list.html" (dict "context" . "details" $courses) }}

                {{ end }}

            </div>

        </div>

    </div>
</section>
{{ end }}



{{ partial "footer.html" . }}
